html, body {
    width: 100%;
    height: 100%;
    background: white;
}
.modal-footer{
    border: none;
}
#reg_logo{
    margin-top: 10px;
    padding: 32px;
    padding-bottom: 8px;
}
#success_logo{
    padding: 58px;
    margin-bottom: 10px;
}
.custom_row{
    padding-top: 30px!important;
    margin-bottom: 10px!important;
}
.custom_row label{
    margin-top: 30px;
    font-size: 19px!important;
    color: black!important;
}
.custom_row input{
    padding: 10px 0px;
    font-size: 19px!important;
    padding-left: 80px!important;
    color: black!important;
}
.custom_row #Servant_phone{
    padding-left: 95px!important;
}
#sms_button,#sms_button_sending{
    margin-top: -28px;
    color: #38abff;
    float: right;
    cursor: pointer;
}

#forget_password{
    margin-bottom: 10px;
    text-align: right;
    font-size: 19px!important;
    cursor: pointer;
}
.btn_login{
    margin: 15px 0px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #38abff;
    color: white;
    text-align: center;
    font-size: 19px!important;
    cursor: pointer;
}
.btn_back{
    margin-top: 45px;
}
.btn_back label{
    padding: 15px 38px;
    color: #38abff;
    border: 1px solid #38abff;
    border-radius: 5px;
}
.btn_custom{
    float: right;
    margin: 0px 17px;
    padding: 4px 10px;
    border: 1px solid #38abff;
    border-radius: 5px!important;
    background-color: #38abff;
    color: white;
}
.carousel_item img{
    width: 100%;
    height: 100%;
}
#cancel_button{
    background-color: white;
    color: grey;
    border: 1px solid grey;
    width: 77px;
    text-align: center;
}
#register{
    color: #38abff;
    text-align: center;
    font-size: 19px!important;
    cursor: pointer;
}

.register_row{
    padding: 5px;
}
.register_row label{
    width: 31%;
}
#shop_logo_img{
    box-shadow: 1px 1px 1px 2px #a9a8a8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#shop_license_img{
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 1px dashed;
}
#btn_Authorize{
    padding-top: 7px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: #0a6aa1;
}

.bottom_item{
    float: left;
    width: 25%;
    padding: 0px;
    margin-top: 3px;
    text-align: center;
    font-size: 10pt;
    cursor: pointer;
}

.bottom_item_image{
    width: 22px;
    height: 22px;
}
.bottom_item h5{
    font-size: 10px;
    margin: 4px 0px;
}
.page-footer{
    padding: 2px;
    height:47px;
    color: #999999;
    background-color: white;
    border-top: 1px solid #cccccc;
    bottom: 0px;
}
.page-content-wrapper .page-content{
    padding: 0px!important;
}
.product_container{
    background-color: #eeeeee;
}
#horizontal_menu_bar {
    overflow: auto;
    white-space: nowrap;
}
#horizontal_menu_bar ul{
    display: inline-block;
    margin: 0px 5px;
    color: black;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

.carousel-indicators{
    bottom: 0px;
}
.carousel-indicators li{
    margin: 1px;
    width: 9px;
    height: 9px;
    border: none;
    background-color: #cfd9e4;
}
.carousel-indicators .active{
    margin: 1px;
    width: 9px;
    height: 9px;
    border: none;
    background-color: #38abff;
}
#carousel_item img{
    width: 100%;
    height: 100%;
}

#menu_dialog{
    border-radius: 0px;
    width: 100%!important;
    left: 0px;
    border: none;
    box-shadow: none;
}
#detail_menu{
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 2px;
}
#detail_menu_content{
    background: white;
    width: 100%;
    padding: 0px;
}
#detail_menu_content ul{
    display: inline-block;
    padding: 10px;
    margin: 0px;
}
#detail_menu_mask{
    width: 100%;
    background : rgba(0,0,0,0.3);
}
