<!DOCTYPE html>
<html>
<head lang="en">
    <title>订单详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/AdminLTE.min.css">
    <link rel="stylesheet" href="../css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        .footer{
            padding: 10px 20px;
        }
    </style>

    <script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/global.js"></script>
    <script type="text/javascript" src="../js/order_detail.js"></script>
</head>

<body>
<div id="content">
    <div id="container"  style="background-color: #f6f6f6">
        <div class="order order_using">
            <div class="order_header">
                <h5>订单编号 : 5897427843</h5>
                <h5 class="order_state">使用中</h5>
            </div>
            <div class="order_body">
                <img src="../resource/image/logo.png">
                <div>
                    <h5>鹤山古劳水乡</h5>
                    <h5>授权码 : 9090129</h5>
                </div>
            </div>
        </div>
        <div class="order_detail">
            <h5>有效日期&nbsp&nbsp&nbsp  2017.08.05-2017.08.20</h5>
        </div>
        <div class="order_detail">
            <h5>下单时间&nbsp&nbsp&nbsp  2017.08.05 13:00:00</h5>
            <h5>购买时间&nbsp&nbsp&nbsp  2017.08.05 13:00:00</h5>
        </div>
    </div>
    <div class="footer" id="app_footer">
        <div class="order_footer">
            <div><h5>开始导游</h5></div>
        </div>
    </div>
</div>

<div class="modal custom-modal" id="confirm">
    <div class="modal-dialog" id="confirm_dialog">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">请删除</h4>
            </div>-->
            <div class="modal-body">
                <p>确认取消订单吗？</p>
            </div>
            <div class="modal-footer" style="border: none;">
                <button type="button" class="btn btn-default" onclick="SendOrderCancelRequest()">确认</button>
                <button type="button" class="btn btn-primary" onclick="OnCancel()">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</body>
</html>
